<%- include('header') %>

<main class="container mt-4">
  <h1 class="mb-4">Workouts</h1>

  <% workouts.forEach((category) => { %>
    <section class="card mb-4" data-aos="fade" data-aos-delay="300">
      <div class="card-body workouts-card" data-aos="fade" data-aos-delay="1500">
        <h2 class="card-title"><%= category.category %></h2>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% category.workouts.forEach((workout) => { %>
            <div class="col">
              <div class="card h-100">
                <img src="images/<%= workout.name %>.jpeg" class="card-img-top workout-image" alt="Workout Image">

                <div class="card-body">
                  <h3 class="card-title"><%= workout.name %></h3>
                  <p class="card-text"><%= workout.description %></p>
                  <a href="#" class="btn btn-primary start-button">Start workout</a>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </section>
  <% }); %>
</main>

<%- include('footer') %>