<%- include('header') %>

<div class="container mt-4">
  <h1>Workouts</h1>
  <% workouts.forEach((category) => { %>
      <div class="card mb-4">
        <div class="card-body workouts-card">
          <h5 class="card-title"><%= category.category %></h5>
          <div class="row">
            <% category.workouts.forEach((workout) => { %>
              <div class="col-md-4">
                <div class="card mb-3">
                  <img src="images/<%= workout.name %>.jpeg" class="card-img-top workout-image" alt="Workout Image">
                  <div class="card-body">
                    <h6 class="card-title"><%= workout.name %></h6>
                    <p class="card-text"><%= workout.description %></p>
                    <a href="#" class="btn start-button">Start workout</a>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
  <% }); %>
</div>

<%- include('footer') %>
